<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Hoja de vida de Elvis Agila </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">CV EA</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>
  <div>
    <h1>Información personal</h1>
    <ul>
      <li><p>Nombres: Elvis Lenin</p></li>
      <li><p>C.I: 1721949285</p></li>
      <li><p>Apellidos: Agila</p></li>
      <li><p>Teléfono: 0960625886</p></li>
      <li><p>Email: riveraguillermo864@epn.edu.ec</p></li>
      <li><p>Edad: 21 años</p></li>
      <li><p>Estado Civil: solo solin solito</p></li>
      <li><p>Nacionalidad: Sto Domingo de los Tsachilas</p></li>
    </ul>
    <h1>Formación profesional</h1>
    <ul>
      <li>
        <p>
          Educación primaria: Unidad educativa Hermano Miguel "La Salle" y
          Unidad Educativa Simón Bolívar
        </p>
      </li>
      <li><p>Educación secundaria:</p></li>
      <li><p>Apellidos: Rivera Guerrero</p></li>
      <li><p>Teléfono: 0960625886</p></li>
      <li><p>Email: riveraguillermo864@epn.edu.ec</p></li>
      <li><p>Edad: 21 años</p></li>
      <li><p>Estado Civil: solo solin solito</p></li>
      <li><p>Nacionalidad: Sto Domingo de los Tsachilas</p></li>
    </ul>
  </div>
</ion-content>
